body{
	background-color:black;
	font-family: Roboto Condensed;
	color: grey;
}
/*font-family: 'Roboto Condensed', sans-serif;*/
h1{
	color:white;
	text-align:center ;	
}
h5{
	color:white;
	text-align:center ;	
}
a{
	color: white;
}
nav{
	color:white;
	text-align:center ;	
	font-size: 120%;
}
p{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 600px;
	padding-top: 20px;
	border-top: solid;
}
ul{
	margin-left: auto;
}
para{
	padding-top: 10px;
	display: block;
}
post-title{
	color: grey;
	font-size: 140%;
}
post-title a{
	color: white;
	text-decoration: none;
}
date { 
	   display:block;
	   float:right;
	   margin-right:10px;
	   color: white;
}

content{
	display: block;
}

#content{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 600px;
}